@media only screen and (max-width: 600px) {
  * {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
  }
  .Inbox {
    width: 100vw !important;
    padding: 2rem !important;
    /* height: 100vh !important; */
    /* background-color: black !important; */
  }
  .icon {
    width: 50vw !important;
    height: 50vw !important;
  }
}
