@media only screen and (max-width: 600px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .weather {
    display: flex !important;
    flex-direction: column-reverse !important;
    padding: 0 !important;
  }
}
